
$gap: 1em;

$dark-color: #1F1E1F;
$light-color: #F9F1F2;
$contrast-color: #548C7E;


body{
    margin: 0px;
    background-color: $dark-color;
}

.masonry-layout{
    margin: 1em;

    columns: 4 280px;
    column-gap: $gap;

    img{
        display: block;
        max-width: 100%;
        margin-bottom: $gap;
        border-radius: 3px;
        transition: 0.1s;
        // filter: blur(2px)
    }
    img:hover{
        transform: scale(1.02);
        // filter: blur(0px)
    }
}

.main-menu{
   
    margin: 1em;

    columns: 3 280px;
    column-gap: $gap;

    img{
        display: block;
        max-width: 100%;
        height: 80%;
        margin-bottom: $gap;
        border-radius: 3px;
        transition: 0.2s;
    }
    img:hover{
        filter: brightness(30%)
    }

    div{
        position: relative;
        text-align: center;
        p{
            display: block;
            color: $light-color;
            top:50%;
        }
    }
}